In [1]:
import numpy as np
import pandas as pd

In [2]:
book=pd.read_csv('BX-Books.csv',sep=';',error_bad_lines=False,encoding='latin-1')

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
book.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [4]:
book=book[['ISBN','Book-Title','Book-Author']]
book.head()

,ISBN,Book-Title,Book-Author
0,0195153448,Classical Mythology,Mark P. O. Morford
1,0002005018,Clara Callan,Richard Bruce Wright
2,0060973129,Decision in Normandy,Carlo D'Este
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
4,0393045218,The Mummies of Urumchi,E. J. W. Barber

In [5]:
book.shape

(271360, 3)

In [6]:
book.rename(columns={'Book-Title':'Book Name','Book-Author':'Author'},inplace=True)

In [7]:
book.head(2)

         ISBN            Book Name                Author
0  0195153448  Classical Mythology    Mark P. O. Morford
1  0002005018         Clara Callan  Richard Bruce Wright

In [8]:
ratings=pd.read_csv('BX-Book-Ratings.csv',sep=';',encoding='latin-1')

In [9]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [10]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'},inplace=True)
ratings.head(2)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5

In [11]:
len(ratings['user_id'].value_counts())

105283

In [12]:
ratings['user_id'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
212898     4785
278418     4533
76352      3367
110973     3100
235105     3067
230522     2991
16795      2948
234623     2674
36836      2529
52584      2512
245963     2507
204864     2504
55492      2459
185233     2448
171118     2421
102967     2352
232131     2347
227447     2340
129358     2317
98741      2317
60244      2236
190925     2154
135149     2100
231210     2017
189835     1973
          ...
142306        1
114239        1
112190        1
108092        1
162792        1
124468        1
75308         1
73259         1
69161         1
160745        1
95782         1
91684         1
89635         1
83488         1
273037        1
62998         1
58900         1
15887         1
13838         1
7691          1
3593          1
32263         1
30214         1
24067         1
22018         1
158698        1
17920         1
277135        1
275086        1
187812        1
Name: user_id, Length: 105283, dtype: int64

In [13]:
count=ratings['user_id'].value_counts()
len(count[count>200])

899

In [14]:
#ratings[ratings['user_id'].isin(count[count>200].index)]
count[count>200].index

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183, 155916,  44296,  73681,  59727,  28634, 188951,   9856,
            268622, 274808],
           dtype='int64', length=899)

In [15]:
ratings[ratings['user_id'].isin(count[count>200].index)]

         user_id        ISBN  rating
1456      277427  002542730X      10
1457      277427  0026217457       0
1458      277427  003008685X       8
1459      277427  0030615321       0
1460      277427  0060002050       0
1461      277427  0060006641      10
1462      277427  0060159685       0
1463      277427  0060177721       0
1464      277427  0060192704       0
1465      277427  0060542128       7
1466      277427  0060913509       0
1467      277427  0060929197       0
1468      277427  006092988X       0
1469      277427  0060930535       0
1470      277427  0060932139       0
1471      277427  0060934417       0
1472      277427  0060951605       0
1473      277427  0061004251       0
1474      277427  0061009059       9
1475      277427  0061030430       0
1476      277427  0062505319       0
1477      277427  0062507109       8
1478      277427  0062735098       0
1479      277427  0064400859       0
1480      277427  006440188X       0
1481      277427  0064636143       0
1482      277427  0099288850       0
1483      277427  0132220598       8
1484      277427  0140067477       0
1485      277427  0140067841       0
...          ...         ...     ...
1147587   275970  185649814X       7
1147588   275970  1856978842       0
1147589   275970  1857999479       0
1147590   275970  1857999541       0
1147591   275970  1859847897       0
1147592   275970  1860462588       8
1147593   275970  186450126X       0
1147594   275970  1875137629      10
1147595   275970  1875137750       0
1147596   275970  1879424428       0
1147597   275970  1880837927       0
1147598   275970  1885983212       0
1147599   275970  1886411077       6
1147600   275970  1886778191       0
1147601   275970  188717897X       0
1147602   275970  1888889047       0
1147603   275970  1891830430       0
1147604   275970  1892016702       0
1147605   275970  1892145022       0
1147606   275970  190259357X       0
1147607   275970  193072229X       0
1147608   275970  1930964404       0
1147609   275970  1931868123       0
1147610   275970  3150091578      10
1147611   275970  3411086211      10
1147612   275970  3829021860       0
1147613   275970  4770019572       0
1147614   275970   896086097       0
1147615   275970  9626340762       8
1147616   275970  9626344990       0

[526356 rows x 3 columns]

In [16]:
ratings=ratings[ratings['user_id'].isin(count[count>200].index)]

In [17]:
len(ratings)

526356

In [18]:
ratings_with_bookname=ratings.merge(book,on='ISBN')
len(ratings_with_bookname)

487671

In [19]:
ratings_with_bookname

,user_id,ISBN,rating,Book Name,Author
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
5,16795,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
6,24194,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
7,25981,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
8,26535,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
9,28204,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
10,30533,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
11,31826,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
12,41084,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
13,43246,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
14,44728,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
15,51883,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
16,52584,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
17,55548,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
18,60244,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
19,71712,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
20,77809,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
21,80538,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
22,81045,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
23,82407,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
24,82831,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
25,86243,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
26,88733,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
27,110934,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
28,111947,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
29,112026,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
...,...,...,...,...,...
487641,275970,158469047X,10,"Okomi Plays in the Leaves (The Okomi Series, 3)",Helen Dorman
487642,275970,1585673773,0,To Have And To Hold: An Intimate History Of Co...,Philipp Blom
487643,275970,1585674168,0,In the Stacks: Short Stories About Libraries a...,Michael Cart
487644,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris
487645,275970,1586214349,8,The David Sedaris Box Set,David Sedaris
487646,275970,1586420488,0,Darkness: Fiction (Italia Series),Dacia Maraini
487647,275970,1586632043,10,The Book of Great Books: A Guide to 100 World ...,W. John Campbell
487648,275970,1590510399,0,A Cleaning Woman,Christian Oster
487649,275970,1592231411,0,Pittsburgh Then and Now (Mighty Machines),Walter C. Kidney
487650,275970,159228275X,0,"Beeing : Life, Motherhood, and 180,000 Honeybees",Rosanne Daryl Thomas
487651,275970,1592530192,0,Artists Journals and Sketchbooks: Exploring an...,Lynne Perrella
487652,275970,1840001909,0,Miller's: Postcards : A Collector's Guide (Mil...,Chris Connor
487653,275970,1840910488,0,Living with Flowers,Jane Packer
487654,275970,1843090104,0,Desserts,Rosemary Wilkinson
487655,275970,1845170423,7,Cocktail Classics,David Biggs
487656,275970,1854106252,0,Follies: Grottoes &amp; Garden Buildings,Gwyn Headley
487657,275970,1854795937,0,"Witty, Wicked and Wise",Dominique Enright
487658,275970,185649814X,7,100 Ways of Seeing an Unequal World,Bob Sutcliffe
487659,275970,1859847897,0,"A New Generation Draws the Line: Kosovo, East ...",Noam Chomsky
487660,275970,1875137750,0,"Flowers (Little Guides (San Francisco, Calif.).)",Geoffrey Burnie
487661,275970,1879424428,0,Webster's Two in One Dictionary &amp; Thesaurus,V. Nichols
487662,275970,1880837927,0,The Theology of the Hammer,Millard Fuller
487663,275970,1886778191,0,Immodest Proposals: The Complete Science Ficti...,William Tenn
487664,275970,188717897X,0,The Ordeal of Integration: Progress and Resent...,Orlando Patterson
487665,275970,1888889047,0,Pushcart's Complete Rotten Reviews &amp; Rejec...,Bill Henderson
487666,275970,1892145022,0,Here Is New York,E. B. White
487667,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias
487668,275970,3411086211,10,Die Biene.,Sybil GrÃƒ?Ã‚Â¤fin SchÃƒ?Ã‚Â¶nfeldt
487669,275970,3829021860,0,The Penis Book,Joseph Cohen
487670,275970,4770019572,0,Musashi,Eiji Yoshikawa

In [20]:
ratings_with_bookname.groupby('Book Name')['rating'].agg('count').reset_index().rename(columns={'rating':'num_rating'})

                                                Book Name  num_rating
0        A Light in the Storm: The Civil War Diary of ...           2
1                                   Always Have Popsicles           1
2                    Apple Magic (The Collector's series)           1
3        Beyond IBM: Leadership Marketing and Finance ...           1
4        Clifford Visita El Hospital (Clifford El Gran...           1
5                                            Dark Justice           1
6                                                Deceived           1
7        Earth Prayers From around the World: 365 Pray...           3
8        Final Fantasy Anthology: Official Strategy Gu...           3
9        Flight of Fancy: American Heiresses (Zebra Ba...           1
10       Garfield Bigger and Better (Garfield (Numbere...           1
11                              God's Little Promise Book           1
12       Good Wives: Image and Reality in the Lives of...           5
13       Goosebumps Monster Edition 1: Welcome to Dead...           3
14       Harry Potter and the Bible: The Menace Behind...           1
15       Highland Desire (Zebra Splendor Historical Ro...           1
16       Hiking the California Coastal Trail: Oregon t...           1
17                                           It Takes Two           1
18                   LA Gallinita Roja/the Little Red Hen           2
19       Little Comic Shop of Horrors (Give Yourself G...           4
20       Murder of a Sleeping Beauty (Scumble River My...           7
21                                           Mystery Mile           1
22       Nonbook Materials: The Organization of Integr...           1
23         Pokemon: The Official Collector's Sticker Book           1
24       Q-Space (Star Trek The Next Generation, Book 47)          12
25        Q-Zone (Star Trek The Next Generation, Book 48)           8
26                           Tales of Terror and Suspense           1
27       The Secret of the Old Clock (Nancy Drew, Book 1)           2
28       The Tender Commandments : Reflections on the ...           2
29                          The Town Cats and Other Tales           1
...                                                   ...         ...
160239                                         seaQuest 2           2
160240                        sed &amp; awk (2nd Edition)           1
160241                sed &amp; awk (A Nutshell handbook)           1
160242                         sharks (reading discovery)           1
160243                                           stardust          18
160244                                  street bible, the           1
160245         termcap &amp; terminfo (O'Reilly Nutshell)           1
160246                               the Dark Light Years           1
160247                 the Heiress Bride  (sister brides)           3
160248                                 the Lost and Found           2
160249                       the Twelve Days of Christmas           1
160250                              them (Modern Library)           1
160251                              together by christmas           7
160252                                       voyage fatal           1
160253                             wet sand, raven tracks           1
160254  whataboutrick.com: a poetic tribute to Richard...           1
160255                   why I'm like this : True Stories           4
160256                             Ã‚Â¡Corre, perro, corre!           1
160257              Ã‚Â¡Cristina! confidencias de una rubia           1
160258             Ã‚Â¿Eres tu mi mamÃƒÂ¡?/Are You My Mother?           1
160259                           Ã‚Â¿QuÃƒÂ© me quieres, amor?           1
160260  Ãƒ?ber den Wunsch, sich wohlzufÃƒÂ¼hlen: Geschichten           1
160261       Ãƒ?coute ma diffÃƒÂ©rence (Le Temps des femmes)           1
160262                  Ãƒ?ngeles fugaces (Falling Angels)           1
160263                             Ãƒ?Ã‚?ber das Fernsehen.           2
160264  Ãƒ?Ã‚?ber die Pflicht zum Ungehorsam gegen den S...           3
160265                                      Ãƒ?Ã‚?lpiraten.           1
160266                     Ãƒ?Ã‚?rger mit Produkt X. Roman.           1
160267                              Ãƒ?Ã‚?stlich der Berge.           1
160268                                  Ãƒ?Ã‚?thique en toc           1

[160269 rows x 2 columns]

In [21]:
book_num_rating=ratings_with_bookname.groupby('Book Name')['rating'].agg('count').reset_index().rename(columns={'rating':'num_rating'})

In [22]:
ratings_with_bookname.merge(book_num_rating, on='Book Name')

,user_id,ISBN,rating,Book Name,Author,num_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
5,16795,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
6,24194,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
7,25981,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
8,26535,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
9,28204,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
10,30533,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
11,31826,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
12,41084,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
13,43246,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
14,44728,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
15,51883,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
16,52584,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
17,55548,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
18,60244,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
19,71712,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
20,77809,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
21,80538,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
22,81045,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
23,82407,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
24,82831,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
25,86243,002542730X,7,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
26,88733,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
27,110934,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
28,111947,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
29,112026,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,82
...,...,...,...,...,...,...
487641,275970,1584690461,10,"Okomi and the Tickling Game (The Okomi Series, 2)",Helen Dorman,1
487642,275970,158469047X,10,"Okomi Plays in the Leaves (The Okomi Series, 3)",Helen Dorman,1
487643,275970,1585673773,0,To Have And To Hold: An Intimate History Of Co...,Philipp Blom,1
487644,275970,1585674168,0,In the Stacks: Short Stories About Libraries a...,Michael Cart,1
487645,275970,1586214349,8,The David Sedaris Box Set,David Sedaris,1
487646,275970,1586420488,0,Darkness: Fiction (Italia Series),Dacia Maraini,1
487647,275970,1586632043,10,The Book of Great Books: A Guide to 100 World ...,W. John Campbell,1
487648,275970,1590510399,0,A Cleaning Woman,Christian Oster,1
487649,275970,1592231411,0,Pittsburgh Then and Now (Mighty Machines),Walter C. Kidney,1
487650,275970,159228275X,0,"Beeing : Life, Motherhood, and 180,000 Honeybees",Rosanne Daryl Thomas,1
487651,275970,1592530192,0,Artists Journals and Sketchbooks: Exploring an...,Lynne Perrella,1
487652,275970,1840001909,0,Miller's: Postcards : A Collector's Guide (Mil...,Chris Connor,1
487653,275970,1840910488,0,Living with Flowers,Jane Packer,1
487654,275970,1843090104,0,Desserts,Rosemary Wilkinson,1
487655,275970,1845170423,7,Cocktail Classics,David Biggs,1
487656,275970,1854106252,0,Follies: Grottoes &amp; Garden Buildings,Gwyn Headley,1
487657,275970,1854795937,0,"Witty, Wicked and Wise",Dominique Enright,1
487658,275970,185649814X,7,100 Ways of Seeing an Unequal World,Bob Sutcliffe,1
487659,275970,1859847897,0,"A New Generation Draws the Line: Kosovo, East ...",Noam Chomsky,1
487660,275970,1875137750,0,"Flowers (Little Guides (San Francisco, Calif.).)",Geoffrey Burnie,1
487661,275970,1879424428,0,Webster's Two in One Dictionary &amp; Thesaurus,V. Nichols,1
487662,275970,1880837927,0,The Theology of the Hammer,Millard Fuller,1
487663,275970,1886778191,0,Immodest Proposals: The Complete Science Ficti...,William Tenn,1
487664,275970,188717897X,0,The Ordeal of Integration: Progress and Resent...,Orlando Patterson,1
487665,275970,1888889047,0,Pushcart's Complete Rotten Reviews &amp; Rejec...,Bill Henderson,1
487666,275970,1892145022,0,Here Is New York,E. B. White,1
487667,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,1
487668,275970,3411086211,10,Die Biene.,Sybil GrÃƒ?Ã‚Â¤fin SchÃƒ?Ã‚Â¶nfeldt,1
487669,275970,3829021860,0,The Penis Book,Joseph Cohen,1
487670,275970,4770019572,0,Musashi,Eiji Yoshikawa,1

In [23]:
salman=ratings_with_bookname.merge(book_num_rating, on='Book Name')

In [24]:
 srk=salman[salman['num_rating']>=50]

In [25]:
srk.drop_duplicates(['user_id','Book Name'],inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
len(srk)

59850

In [27]:
amir=srk.pivot_table(index='Book Name',columns='user_id',values='rating').fillna(0)

In [28]:
amir.shape

(742, 888)

In [29]:
from scipy.sparse import csr_matrix

In [30]:
ranbir=csr_matrix(amir)

In [31]:
type(ranbir)

scipy.sparse.csr.csr_matrix

In [32]:
from sklearn.neighbors import NearestNeighbors

nn=NearestNeighbors(metric='cosine',algorithm='brute')

In [33]:
nn.fit(ranbir)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [35]:
nn.kneighbors(amir.iloc[0,:].values.reshape(1,888),n_neighbors=6)

(array([[1.11022302e-16, 7.36523749e-01, 7.53581945e-01, 7.78282314e-01,
         7.83462850e-01, 7.84851268e-01]]),
 array([[  0,  54, 575, 526, 321, 668]], dtype=int64))

In [40]:
books=books.ravel()
books

NameError: name 'books' is not defined